<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${company.name} | dep `}) %>
    <link rel="stylesheet" href="/styles/company-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="center">
      <div class="img-container"> <div class="content">
          <img id="image" src="<%= company.photo %>">
         
          <h2 class="company-name"><%= company.name %></h2>
          <section>
              <p><strong>Company Name:</strong> <%= company.name %></p>
              <p><strong>About:</strong> <%= company.about %></p>
              <p><strong>Rating:</strong> <%= company.rating %></p>
              <p><strong>Location:</strong> <%= company.location %></p>
          </section>
          <section class="actions">
              <button class="btn"><a  href="/companies/<%= company._id %>/edit">Edit</a></button>
              <form method="POST" action="/companies/<%= company._id %>?_method=DELETE">
              <input class="btn" type="submit" value="Delete" />
              </form>
              <button class="btn" ><a  href="/reviews/new/<%= company._id %>">Review</a></button>
      
          </section>
      
      </div></div></div></div>
      
      <br>
      <section class="reviews">
       
            <% company.reviews.forEach(review => { %>
              
                <strong>Username:</strong> <%= review.revName %><br>
                <br><strong>Rating:</strong> <%= review.revRating %><br>
                <br><strong>Review:</strong> <%= review.revDescription %><br>
                <br><strong>Date:</strong> <%= review.revDate %><br>
                <br><form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
                  <input class="btn" type="submit" value="Delete" />
              </form>
           
            <% }); %>
       
        </section>
    


    <%- include('./partials/footer.ejs') %>
</body>

</html>