<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'dep'}) %>
    <link rel="stylesheet" href="/styles/company-index.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;500&display=swap');
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>đẹp...</h2>
        <h4>:(adj) used to describe beautiful people and things in Vietnamese</h4>
    </section>

    <main>
        <section class="company-grid">
                <% for (let company of companies) { %>
               
                    <figure>
                        <img src="<%= company.photo %>" id="image">
                        
                        <figcaption>
                            <h4><%= company.name %></h4>
                            <br><p><%= company.about %></p>
                            <br><p> đẹp's Rating: <%= company.rating %><p>
                            <p>HQ: <%= company.location %><p>
                            <a class="more" href="/companies/<%= company._id %>">Learn More</a>
                        </figcaption>
                    </figure>
             
                <% } %>

        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>