<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'dep '}) %>
    <link rel="stylesheet" href="/styles/home.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;500&display=swap');
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero" >
            <h1>đẹp</h1>
            <h3>:(adj) used to describe beautiful people and things in Vietnamese.</h3>
            <a href="/about" class="btn">About Us</a>        </section>

        <section class="about">
       
        </section>

        <section class="featured-companies">
            <h2>đẹp's favorites:</h2>
            <ul class="company-grid">
                <% for (let company of companies) { %>
                <li>
                    <figure >
                        <img src="<%= company.photo %>" alt="company" id="image">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= company.name %></h3>
                            <p>đẹp's Rating: <%= company.rating %> </p> 
                            <a class="lrn" href="/companies/<%= company._id %>">Learn More</a>
                        </div>
                       
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>