<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Leave a dep Observation:'}) %>
    <link rel="stylesheet" href="/styles/rev-form.css">
    <link rel="stylesheet" href="/styles/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;500&display=swap');
        </style>

</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Observation:</h2>
        <h4><i>Ok fine, it's review. You're leaving a review for: <br><a href="/companies/<%= company._id %>"><%= company.name %></a></i></h4>
    </section>

    <form action="/reviews/create/<%= company._id %>" method="POST">
        <label for="revName">Username:</label><br>
        <input type="text" id="revName" name="revName" required><br>

        <label for="revRating">Rating:</label><br>
        <input type="number" id="revRating" name="revRating" required><br>

        <label for="revDescription">Review:</label><br>
        <input type="text" id="revDescription" name="revDescription" required><br>

        <label for="revDate">Date:</label><br>
        <input type="date" id="revDate" name="revDate" required><br>

        <br><input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>