<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${company.name} | dep `}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= company.photo %>">

        <h2 class="company-name"><%= company.name %></h2>

        <section>
            <p><strong>Company Name:</strong> <%= company.name %></p>
            <p><strong>About:</strong> <%= company.about %></p>
            <p><strong>Rating:</strong> <%= company.rating %></p>
            <p><strong>Location:</strong> <%= company.location %></p>
        </section>

        <section class="actions">

            <button ><a class="btn" href="/companies/<%= company._id %>/edit">Edit</a></button>

            <form method="POST" action="/companies/<%= company._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>

            <button ><a class="btn" href="/reviews/new/<%= company._id %>">Review</a></button> 

            
        </section>
        
    </div>
    
    <br>
    <section>
        <ul>
          <% company.reviews.forEach(review => { %>
            <li>
              <strong>Username:</strong> <%= review.revName %><br>
              <strong>Rating:</strong> <%= review.revRating %><br>
              <strong>Review:</strong> <%= review.revDescription %><br>
              <strong>Date:</strong> <%= review.revDate %><br>
              <strong>ID:</strong> <%= review._id %>
              <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
            </li>
          <% }); %>
        </ul>
      </section>


    <%- include('./partials/footer.ejs') %>
</body>

</html>