<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit ${company.name} | dep`}) %>
    <link rel="stylesheet" href="/styles/new-company.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit Company Details:</h2>
        <h4><i>Explore the S shaped country...</i></h4>
    </section>

    <form class="form" method="POST" action="/companies/<%= company._id %>?_method=PUT">
  
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= company.name %>" required>
        <br>
      
        <label for="about">About:</label>
        <input type="text" id="about" name="about" min="0" value="<%= company.about %>" required>
        <br>
   
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" value="<%= company.rating %>" required>
        <br>
    
        <label for="location">HQ:</label>
        <input type="text" id="location" name="location" value="<%= company.location %>" required>
        <br>
       
        <label for="photo">Photo (URL):</label>
        <input type="text" id="photo" name="photo" value="<%= company.photo %>" required>
        <br>

        <input type="submit" value="Update Company">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>